[mysqld]
server_id={{ innodb_cluster_node_id }}
binlog_checksum=NONE
gtid_mode=ON
enforce_gtid_consistency=ON
log_bin
log_slave_updates=ON
master_info_repository=TABLE
relay_log_info_repository=TABLE
transaction_write_set_extraction=XXHASH64
user=mysql
skip-host-cache
skip-name-resolve
